<div class="container">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-body">
	  <h2>About:</h2>
        <p>The Homer Multitext project is an international edition project, led by Harvard's Center for Hellenic Studies, 
		that seeks to present the Homeric epics and the Homeric tradition by providing a diplomatic digitized edition
		of Homeric manuscripts. (For more information about the HMT Project, click <a href"http://www.homermultitext.org/">here</a>).</p>
		<p>Homer's Angels represent the Leiden branch of the Homer Multitext project. Every week, together with Prof. dr. Ineke Sluiter 
			and Dr. Tazuko van Berkel, a group of Leiden Classics students (both BA and MA) meets to make a digital edition of
			the Venetus A. The Venetus A, also known as Marciana Library’s codex Gr. Z. 454 (=822), is a 10th-century manuscript
			that contains the oldest complete text of the Iliad that we have today. The 654 folios are esthetically pleasing, 
			surprisingly legible and offer a unique access to centuries of text transmission and reception: 
			they not only constitute one of our most important text witnesses of Homeric epic, but also, in their margins, 
			preserve traces of centuries of Homeric scholarship, from the earliest scholars in Alexandria in the second century BCE, 
			to intellectuals in Rome and in Byzantium in the middle ages.
			The Venetus A is the best preserved text of <i>Iliad</i>&nbsp;
		and contains numerous commentaries (scholia) and it is therefore one of the most important sources for the Iliadic text and
		for the ancient scholarly tradition. Last year we worked on parts of book 13 and book 21 of the <i>Iliad </i>and this year 
		we will finish book 16 and start working on our very own <i>Iliad</i>: the Leiden Homer!</p>
		<p>Apart from these sessions we also try to organize HMT Bootcamps a few times a year: a full day of working on 
		the HMT project! These bootcamps have become much appreciated meetings not only due to the (semi-traditional) cakes and coffee, 
		but also because of the team spirit they create.</p>
		<p>Each year a delegation of Homer’s Angels will meet with other students and their professors during a two-week summer seminar 
		hosted by the Center for Hellenic Studies in Washington D.C. During these seminars participants learn more about the underlying principles 
		of this project, while at the same time familiarizing themselves with the editing process (XML). Students will work in teams to edit 
		a given folio and at the end of the seminar they will deliver a presentation about one of the difficulties they have come across.</p>        
      </div>
    </div>
  </div>
</div>
