<div class="container">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-body">
	  <h2>About:</h2>
        <p>The final objective of the Homer Multitext Project, led by Harvard’s Center for Hellenic Studies, is to gather and digitize 
		the different texts and scholia of multiple manuscripts of the Iliad in one online database. This online database will account for the multiformity 
		entailed by an oral tradition and enable researchers and students to easily compare the multiforms in the Iliadic text. 
		The HMT Project is an international project contributed to by 
		different universities across the USA and in the Netherlands by Leiden University. (For more information 
		about the HMT Project, click <a href"http://www.homermultitext.org/">here</a>.</p>
		<p>In Leiden this manuscript club is called Homer’s Angels and every week under guidance of prof. dr. Ineke Sluiter 
		and dr. Tazuko van Berkel a group of Classics students gather to digitize the Venetus A. The Venetus A is the best preserved text of <i>Iliad</i>&nbsp;
		and contains numerous commentaries (scholia) and it is therefore one of the most important sources for the Iliadic text and
		for the ancient scholarly tradition. Last year we worked on parts of book 13 and book 21 of the <i>Iliad </i>and this year 
		we will finish book 16 and start working on our very own <i>Iliad</i>: the Leiden Homer!</p>
		<p>Apart from these sessions we also try to organize HMT Bootcamps a few times a year: a full day of working on 
		the HMT project! These bootcamps have become much appreciated meetings not only due to the (semi-traditional) cakes and coffee, 
		but also because of the team spirit they create.</p>
		<p>Each year a delegation of Homer’s Angels will meet with other students and their professors during a two-week summer seminar 
		hosted by the Center for Hellenic Studies in Washington D.C. During these seminars participants learn more about the underlying principles 
		of this project, while at the same time familiarizing themselves with the editing process (XML). Students will work in teams to edit 
		a given folio and at the end of the seminar they will deliver a presentation about one of the difficulties they have come across.</p>        
      </div>
    </div>
  </div>
</div>
