<div class="container">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-body">
	  <h2>Contact</h2>
        <p>The Homer Multitext Project: <br> For more information about the Homer Multitext Project: see their main website:  http://www.homermultitext.org/ </p>
		<p>Homer’s Angels (The Leiden Manuscript Club): <br> For more information regarding the content of the project: prof. dr. Ineke Sluiter (I.Sluiter@hum.leidenuniv.nl) or dr. Tazuko van Berkel (T.A.van.Berkel@hum.leidenuniv.nl)  
For any technological questions: Mees Gelein (meesgelein@gmail.com) <br>  
For questions regarding the planning, meetings and all other questions: Olivia Monster (o.v.r.monster@hum.leidenuniv.nl)</p> 
     </div>
    </div>
  </div>
</div>
