<div class="container">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-body">
	  <h2>Contact</h2>
    <p><b>The Homer Multitext Project:</b>
		<br> For more information about the Homer Multitext Project: 
		see their <a href="http://www.homermultitext.org/">main website</a>.</p>
		<p><b>Homer’s Angels (The Leiden Manuscript Club):</b>
		<br> For more information regarding the content of the project: <a href="mailto:I.Sluiter@hum.leidenuniv.nl">prof. dr. Ineke Sluiter</a> 
		or <a href="mailto:T.A.van.Berkel@hum.leidenuniv.nl">dr. Tazuko van Berkel</a>.<br> For technical issues: <a href="mailto:meesgelein@gmail">Mees Gelein</a>. 
    <br>For questions regarding the planning and sessions: <a href="mailto:o.v.r.monster@hum.leidenuniv.nl">Olivia Monster</a>.</p> 
     </div>
    </div>
  </div>
</div>
