<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h4>Other places we live on the internet:</h4>
        <a href="https://www.facebook.com/HomersAngels/" target="_blank"><span class="fa fa-4x fa-facebook-square"></span></a>
        <a href="https://github.com/hmteditors/leiden2017" target="_blank"><span class="fa fa-4x fa-github-square"></span></a>
      </div>
      <div class="col-sm-4 text-center">
        <h4>External links:</h4>
        <a href="http://www.homermultitext.org/"><span class="fa fa-external-link-square"></span>&nbsp;Homer Multitext Homepage</a><br>
        <a href="https://github.com/cite-architecture/cex"><span class="fa fa-external-link-square"></span>&nbsp;CITE URN uitleg</a><br>
        <a href="http://www.homermultitext.org/hmt-digital/"><span class="fa fa-external-link-square"></span>&nbsp;HMT manuscript browser</a><br>
      </div>
      <div class="col-sm-4 text-right" >
        <h4>Credits:</h4>
        <p id="copyright">Website designed and built by Mees Gelein<br>
          &copy;2017 under <a href="https://creativecommons.org/licenses/by/3.0/">CC BY 3.0 license</a><br>
          find the project on <a href="https://github.com/MGelein/homers-angels">Github</a>
        </p>
      </div>
    </div>
  </div>
</footer>
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script>
//Used to add the active class to a nav-link by id.
$(document).ready(function(){
  $('#{navID}').addClass('active');
});
</script>
</body>
</html>
