<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h4>Onze andere websites:</h4>
        <span class="fa fa-4x fa-facebook-square"></span>
        <span class="fa fa-4x fa-github-square"></span>
      </div>
      <div class="col-sm-4 text-center">
        <h4>Externe links:</h4>
        <a href="#"><span class="fa fa-external-link-square"></span>&nbsp;Homer Multitext Homepage</a><br>
        <a href="#"><span class="fa fa-external-link-square"></span>&nbsp;CITE URN uitleg</a><br>
        <a href="#"><span class="fa fa-external-link-square"></span>&nbsp;HMT manuscript browser</a><br>
      </div>
      <div class="col-sm-4 text-right" >
        <h4>Credits:</h4>
        <p id="copyright">Website ontwerp en bouw door Mees Gelein<br>
          &copy;2017 under <a href="https://creativecommons.org/licenses/by/3.0/">CC BY 3.0 license</a><br>
          find the project on <a href="GITHUB">Github</a>
        </p>
      </div>
    </div>
  </div>
</footer>
</body>
</html>
