<div class="container">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-body">
        <h2>Guides</h2>
        <p>A few documents to help you learn or remember the steps of the editorial process.
        </p>
        <p><b>N.B: These documents are written in Dutch. Apologies to our foreign colleagues. An English guide MAY be written</b>&nbsp;<em>or not... Time is hard to come by.</em></p>
        <ul>
          <li><a href="downloads/Installatie.pdf" target="_blank">Installation</a> - The installation process of the tools that are required for collaboration in the HMT project.</li>
          <li><a href="downloads/Encoding.pdf" target="_blank">Encoding</a> - An essential part in the installation procedure for all the contributors using Dutch Windows versions.</li>
          <li><a href="downloads/Git.pdf" target="_blank">Git</a> - A basic description of the usage of <b>Git</b> commands for version control.</li>
          <li><a href="downloads/Workflow.pdf" target="_blank">Workflow</a> - An outline for the basic workflow we use during editing.</li>
          <li><a href="downloads/PaleoGuideVenetusA.pdf" target="_blank">Paleographic Guide for Venetus A</a> - How to read the various squigly lines that are said to correspond to the characters in the Greek alphabet.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
