<div class="container">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-body">
        <h2>Guides</h2>
        <p>To aid newcomers to the project as well as seasoned veterans who have been through manuscript hell and back we've compiled a few guiding
          documents to help you on your way to learn or remember the steps of the editorial proces for the Homer Multitext Project.
        </p>
        <p><b>N.B: These documents are written in Dutch. Apologies to our foreign colleagues. An English guide MAY be written</b>&nbsp;<em>or not... Time is hard to come by.</em></p>
        <ul>
          <li><a href="downloads/Installatie.pdf" target="_blank">Installation</a> - Describes the installation process of the tools that are required for collaboration in the HMT project.</li>
          <li><a href="downloads/Encoding.pdf" target="_blank">Encoding</a> - This is an essential part in the installation procedure for all the contributors using Dutch Windows versions.</li>
          <li><a href="downloads/Git.pdf" target="_blank">Git</a> - This document contains a basic description of the usage of <b>Git</b> commands for version control.</li>
          <li><a href="downloads/Workflow.pdf" target="_blank">Workflow</a> - In this document you can find an outline for the basic workflow we use during editing.</li>
          <li><a href="downloads/Validatie.pdf" target="_blank">Validatie</a> - Reading this document will teach you how to use the <b>SBT</b> and <b>Scala</b> to validate the documents on your own pc.</li>
          <li><a href="downloads/PaleoGuideVenetusA.pdf" target="_blank">Paleographic Guide for Venetus A</a> - How to read the various squigly lines that are said to correspond to the characters in the Greek alphabet.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
