<div class="container">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-sm-4">
          <h2>Wie zijn Homer's Angels</h2>
          <p>Homer’s Angels is a subteam of the Homer Multitext Project based in Leiden. Under supervision of prof. dr. Ineke Sluiter and dr. Tazuko van Berkel a group of enthusiastic students gather to decipher and digitalize ancient manuscripts and their scholia (short commentaries in the margins of the page). At the moment the Homer Multitext Project focuses on digitalizing the Venetus A manuscript, but after years of hard and dedicated work the digital edition of this manuscript is nearing completion. This year Homer’s Angels will therefore begin working on the Leiden manuscript of the Iliad.</p>
          <h2>Wat is het Homer Multitext project?</h2>
          <p>The Homer Multitext Project (HMT) is a project that seeks to present the Homeric <i>Iliad</i> and <i>Odyssey</i> in a critical framework that accounts for the fact that these poems were composed orally over the course of millennia by countless different singers who composed their song during their performance. The project is aiming to create a diplomatic edition of the Venetus A, that will account for the complexity in an oral tradition. </p>
          <a href="http://www.homermultitext.org/" class="btn btn-primary"><span class="fa fa-external-link"></span>&nbsp;Klik hier om naar de HMT pagina te gaan</a>
        </div>
        <div class="col-sm-8">
          <img class="img-responsive" src="img/samenwerken.jpg"/>
          <span class="image-text">Een leessessie van Homer's Angels.</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>Media</h3>
          <img src="img/media_thumb.jpg" class="img-responsive img-rounded"/><br>
          <p>Op deze pagina kunt u allerlei afbeeldingen en andere media items vinden gerelateerd aan onze leesgroep.</p>
          <a class="btn btn-primary pull-right" href="#">Lees verder...</a></span>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>Tools</h3>
          <img src="img/tools_thumb.jpg" class="img-responsive img-rounded"/><br>
          <p>Op deze pagina kunt u een link vinden naar alle tools van Homer's Angels die worden gebruikt tijdens de leessessies.</p>
          <a class="btn btn-primary pull-right" href="#">Lees verder...</a>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>Informatie</h3>
          <img src="img/informatie_thumb.jpg" class="img-responsive img-rounded"/><br>
          <p>Hier vindt u een verzameling van externe links en beschrijving van de werkwijzen. Van installatie van de software tot XML standaarden.</p>
          <a class="btn btn-primary pull-right" href="#">Lees verder...</a>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>Contact</h3>
          <img src="img/contact_thumb.jpg" class="img-responsive img-rounded"/><br>
          <p>Wilt u met ons in contact komen? Dan kunt u op deze pagina alle contactgegevens vinden om de juiste persoon te vinden.</p>
          <a class="btn btn-primary pull-right" href="#">Lees verder...</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <h2>Wat is de Ilias?</h2>
          <p>Hier moet een langdradig maar niet saai antwoord komen over wat de Ilias is zodat we in het kort kunnen uitleggen wat de traditie hierachter is. Hier moet een langdradig maar niet saai antwoord komen over wat de Ilias is zodat we in het kort kunnen uitleggen wat de traditie hierachter is. Hier moet een langdradig maar niet saai antwoord komen over wat de Ilias is zodat we in het kort kunnen uitleggen wat de traditie hierachter is. Hier moet een langdradig maar niet saai antwoord komen over wat de Ilias is zodat we in het kort kunnen uitleggen wat de traditie hierachter is</p>
          <h2>Wie was Homerus?</h2>
          <p>Hier moet een klein beetje uitleg over de Homerische kwestie en de uitleg waarom dit project gedaan wordt. Dit is een uitbreiding op het 2e kopje van de pagina. Hier moet een klein beetje uitleg over de Homerische kwestie en de uitleg waarom dit project gedaan wordt. Dit is een uitbreiding op het 2e kopje van de pagina. Hier moet een klein beetje uitleg over de Homerische kwestie en de uitleg waarom dit project gedaan wordt. Dit is een uitbreiding op het 2e kopje van de pagina. Hier moet een klein beetje uitleg over de Homerische kwestie en de uitleg waarom dit project gedaan wordt. Dit is een uitbreiding op het 2e kopje van de pagina</p>
        </div>
      </div>
    </div>
  </div>
</div>
