<div class="container">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-sm-4">
          <h2>Wie zijn Homer's Angels</h2>
          <p>Homer's Angels is een groep die bla en bla en ook nog dingen doet die bovendien dingen list en heroisch is en die ook nog eens en toen en toen </p>
          <h2>Wat is het Homer Multitext project?</h2>
          <p>Het Homer Multitext project, ook wel tot <em>HMT</em> afgekort is een project dat probeert met manuscripten bla bla en die bla bla bla en ook zodoende maar niet alsnog</p>
          <a href="http://www.homermultitext.org/" class="btn btn-primary">HOMERMULTITEXT</a><span class="fa fa-external-link"></span>&nbsp;Klik hier om naar de HMT pagina te gaan</a>
        </div>
        <div class="col-sm-8">
          <img class="img-responsive" src="img/samenwerken.jpg"/>
          <span class="image-text">Een leessessie van Homers Angels.</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>Media</h3>
          <img src="img/media_thumb.jpg" class="img-responsive img-rounded"/><br>
          <p>Op deze pagina kunt u allerlei afbeeldingen en andere media items vinden gerelateerd aan onze leesgroep.</p>
          <a class="btn btn-primary pull-right" href="#">Lees verder...</a></span>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>Tools</h3>
          <img src="img/tools_thumb.jpg" class="img-responsive img-rounded"/><br>
          <p>Op deze pagina kunt u een link vinden naar alle tools van Homers Angels die worden gebruikt tijdens de leessessies.</p>
          <a class="btn btn-primary pull-right" href="#">Lees verder...</a>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>Informatie</h3>
          <img src="img/informatie_thumb.jpg" class="img-responsive img-rounded"/><br>
          <p>Hier vindt u een verzameling van externe links en beschrijving van de werkwijzen. Van installatie van de software tot XML standaarden.</p>
          <a class="btn btn-primary pull-right" href="#">Lees verder...</a>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>Contact</h3>
          <img src="img/contact_thumb.jpg" class="img-responsive img-rounded"/><br>
          <p>Wilt u met ons in contact komen? Dan kunt u op deze pagina alle contactgegevens vinden om de juiste persoon te vinden.</p>
          <a class="btn btn-primary pull-right" href="#">Lees verder...</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <h2>Wat is de Ilias?</h2>
          <p>Hier moet een langdradig maar niet saai antwoord komen over wat de Ilias is zodat we in het kort kunnen uitleggen wat de traditie hierachter is. Hier moet een langdradig maar niet saai antwoord komen over wat de Ilias is zodat we in het kort kunnen uitleggen wat de traditie hierachter is. Hier moet een langdradig maar niet saai antwoord komen over wat de Ilias is zodat we in het kort kunnen uitleggen wat de traditie hierachter is. Hier moet een langdradig maar niet saai antwoord komen over wat de Ilias is zodat we in het kort kunnen uitleggen wat de traditie hierachter is</p>
          <h2>Wie was Homerus?</h2>
          <p>Hier moet een klein beetje uitleg over de Homerische kwestie en de uitleg waarom dit project gedaan wordt. Dit is een uitbreiding op het 2e kopje van de pagina. Hier moet een klein beetje uitleg over de Homerische kwestie en de uitleg waarom dit project gedaan wordt. Dit is een uitbreiding op het 2e kopje van de pagina. Hier moet een klein beetje uitleg over de Homerische kwestie en de uitleg waarom dit project gedaan wordt. Dit is een uitbreiding op het 2e kopje van de pagina. Hier moet een klein beetje uitleg over de Homerische kwestie en de uitleg waarom dit project gedaan wordt. Dit is een uitbreiding op het 2e kopje van de pagina</p>
        </div>
      </div>
    </div>
  </div>
</div>
