<div class="container">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-sm-4">
          <h2>Who are the Homer's Angels?</h2>
          <p>Homer’s Angels is a subteam of the Homer Multitext Project based in Leiden. Under supervision of prof. dr. Ineke Sluiter and dr. Tazuko van Berkel 
		  a group of enthusiastic students gather to decipher and digitalize ancient manuscripts and their scholia (short commentaries in the margins of the page).
		  At the moment the Homer Multitext Project focuses on digitalizing the Venetus A manuscript, but after years of hard and dedicated work the digital edition
		  of this manuscript is nearing completion. This year Homer’s Angels will therefore begin working on the Leiden manuscript of the Iliad.</p>
          <a href="http://www.homermultitext.org/" target="_blank" class="btn btn-primary"><span class="fa fa-external-link"></span>&nbsp;Click here to go to the main HMT website</a>
        </div>
        <div class="col-sm-8">
          <img class="img-responsive" src="img/samenwerken.jpg"/>
          <span class="image-text">A reading session of Homer's Angels.</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>Media</h3>
          <img src="img/media_thumb.jpg" class="img-responsive img-rounded"/><br>
          <p>On this page you will find images and various other types of media related to our manuscript club.</p>
          <span class="btn btn-warning pull-right" href="media.php">Coming Soon</span></span>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>Tools</h3>
          <img src="img/tools_thumb.jpg" class="img-responsive img-rounded"/><br>
          <p>On this page you will find all the tools that Homer's Angels uses during her sessions.</p>
          <a class="btn btn-primary pull-right" href="tools.php">Read more...</a>
        </div>
      </div>
    </div>
    
    <div class="col-sm-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>Guides</h3>
          <img src="img/informatie_thumb.jpg" class="img-responsive img-rounded"/><br>
          <p>Here you will find a collection of guides written to help newcomers and veterans in the project.</p>
          <a class="btn btn-primary pull-right" href="information.php">Read more...</a>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>Contact</h3>
          <img src="img/contact_thumb.jpg" class="img-responsive img-rounded"/><br>
          <p>Do you want to get in contact with Homer's Angels? On this page you will find all the contact details.</p>
          <a class="btn btn-primary pull-right" href="contact.php">Read more...</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-body">
         <h2>What is the Homer Multitext Project?</h2>
          <p>The Homer Multitext Project (HMT) is a project that seeks to present the Homeric <i>Iliad</i> and <i>Odyssey</i> in a critical framework 
		  that accounts for the fact that these poems were composed orally over the course of millennia by countless different singers who composed their song 
		  during their performance. The project is aiming to create a diplomatic edition of the Venetus A, that will account for the complexity in an oral tradition. </p>
        </div>
      </div>
    </div>
  </div>
</div>
