<div class="container">
  <div class="row">
    <div class="col-sm-7">
      <div class="panel panel-default">
        <div class="panel-body">

        </div>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="panel panel-default">
        <div class="panel-body">
            <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=2&amp;bgcolor=%23FFFFFF&amp;src=qig5m1s8ctc8ghgi0mb1cgjpdk%40group.calendar.google.com&amp;color=%236B3304&amp;ctz=Europe%2FAmsterdam" style="border-width:0; height: 50vh" width="100%" frameborder="0" scrolling="no"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
