<div class="container">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-body">
        <h2>Software Requirements</h2>
        <p>To work in our manuscript you will need to have the following software installed:</p>
        <ul>
          <li><b>Text Editor:</b><a href="https://atom.io/">Atom</a>. Atom is the tool we do all of our editing of files in.</li>
          <li><b>Source Control:</b><a href="https://git-for-windows.github.io/">Git</a>. Git is used for so called version control. It allows many user to collaborate on one project without accidentaly overwriting changes of others.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
