<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <h2>Tools</h2>
          <p>
            During the editorial process you sometimes have to do some tasks that most ordinary people find boring. While attending
            the CHS HMT summer seminar of 2017 the tools that are listed below were made by Mees Gelein to automate some of the more
            menial tasks (who likes counting letters for example?) and to speed up the editing process.
          </p>

          <h3>Suggestions</h3>
          <p>If you have any suggestions for new tools that you think might benefit the HMT project or if you have feedback concerning
          the usage of the current tools, do not hesitate to <a href="contact.php">contact</a> us. You can find our <a href="contact.php">contact</a>
          details on our <a href="contact.php">Contact</a> page.</p>

          <p>Please remember that any and all tools made for this project are made in the little spare time a programmer can spare.
          Bugs will be present, probably alot. Be prepared, save often!</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4">
      <div class="panel panel-primary">
        <div class="panel-heading">URN Convertor</div>
        <div class="panel-body">
          <img class="img-responsive" src="img/US.jpg"/><br>
          <p>The URN Convertor tool provides you with a quick lookup tool to search through IMG urn's, place URN's and personal URN's.</p>
          <a class="btn btn-primary" href="http://www.interwing.nl/hmt/urn/">Continue to the Tool</a>
        </div>
      </div>
    </div>

    <div class="col-xs-4">
      <div class="panel panel-success">
        <div class="panel-heading">Paleo Corrector</div>
        <div class="panel-body">
          <img class="img-responsive" src="img/PCC.jpg"/><br>
          <p>The Paleo Corrector tool provides you with a quick check, correct and counting tool to check, correct and count in your .cex files for the HMT project.</p>
          <a class="btn btn-success" href="http://www.interwing.nl/hmt/paleo/">Continue to the Tool</a>
        </div>
      </div>
    </div>

    <div class="col-xs-4">
      <div class="panel panel-info">
        <div class="panel-heading">Image Request(or)</div>
        <div class="panel-body">
          <img class="img-responsive" src="img/HMIR.jpg"/><br>
          <p>The Image Request utility lets you load regions created by the Image Citation Tool and save them or link to them.</p>
          <a class="btn btn-info" href="http://www.interwing.nl/hmt/img/">Continue to the Tool</a>
        </div>
      </div>
    </div>
  </div>
</div>
